@using NWebsec.Mvc.HttpHeaders.Csp
@{
    ViewBag.Title = "CSP";
}
<h2>CSP</h2>

<p>This web application contains loads of inline scripts. Still, we'd really want to enable CSP!</p>

<p id="firstScript">First inline script was blocked. :(</p>
<p id="secondScript">Second inline script was blocked. :(</p>


@section scripts
{
    @*@Html.CspScriptNonce()*@
    <script language="javascript">
        $("#firstScript").text("First inline script was run! :)");
    </script>

    <script language="javascript">
        $("#secondScript").text("Second inline script was run! :)");
    </script>

    @*Evil script injected by attacker*@
    @*<script language="javascript">
        alert("pwned at NDC!");
    </script>*@

}
