@model NdcOsloDemo2015.ViewModels.ConnectionDetails

<h2>TLS related headers</h2>

<p>This page shows whether the connection is seen as "secure" by the site.</p>

<p>
    <b>RequireHttps:</b> @Model.RequireHttps <br/>
    <b>Request.IsSecureConnection:</b> @Model.SecureConnection
</p>